  <form>
    <div class="form-group">

    {{input value=username class="form-control" placeholder="username"}}
    {{input value=post class="form-control" placeholder="Your tweet" maxlength="141"}}
  </div>
  <button  {{action 'addTweet'}}>Submit</button>
</form>



{{isDateShowing}}
<ul>
  {{#each}}
    <li><a {{action 'toggleDate'}}>{{username}} {{post}}</a>
    {{outlet}}



    </li>


  {{/each}}
  {{#if isDateShowing}}
  derp {{date}}
  {{/if}}
</ul>
